<div class="formContaier">
    <form class="formItem" #f="ngForm" (ngSubmit)="addItem(f)" *ngIf=!toggleForm>
    <h2 id="add-item">Add Item</h2>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="itemName" ngModel required>
    </div>
    <div class="form-group">
        <label for="">Quantity</label>
        <input type="number" class="form-control" name="itemQuantity" ngModel required>
    </div>
    <button type="submit" class="btn btn-success" [disabled]=f.invalid >Add Item</button>
    </form>
    <form class="formItem" #editform="ngForm" (ngSubmit)="editItem(editform)" *ngIf=toggleForm>
    <h2 id="edit-item">Edit Item</h2>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="itemName" [ngModel]="selectedItem.itemName">
    </div>
    <div class="form-group">
        <label for="">Quantity</label>
        <input type="number" class="form-control" name="itemQuantity" [ngModel]="selectedItem.itemQuantity">
    </div>
    <button type="submit" class="btn btn-success">Save Item</button>
    </form>
</div>
<div class="itemContainer">
    <h2 id="shopping-list">Item List</h2>
    <div class="table-responsive">
        <table class="table table-sm table-striped">
        <tbody>
            <tr *ngFor="let item of shoppingItemList">
            <td id="item-checkbox"> <input type="checkbox" name="" [checked]="item.itemBought" (click)="updateItemChecked(item)"> </td>
            <td id="item-name"> {{item.itemName}} </td>
            <td id="item-bought"> {{item.itemQuantity}} </td>
            <td>
                <button id="edit-btn" class="btn btn-primary" type="button" name="button" (click)="showEditForm(item)" [disabled]=toggleForm>Edit</button>
                <button id="delete-btn" class="btn btn-danger" type="button" name="button" (click)="deleteItem(item._id)" >Delete</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>